@model MvcDemo.Models.Contact

@{
    ViewData["Title"] = "Contact Page";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div class="heading">
    <center>
        <h1> How can we help you?</h1>
        <p> Have some questions or want to get in touch? 
            <br> Send us a message by filling in the form. 
        </p>
        <img src="~/css/Images/mailicon.png" style="width:10em;" /> 
    </center>

</div>

<div class="mail-form">
    <div class="col-md-6">
      
        <div>
            @if (ViewBag.Message == null)
            {
                <div>
                    <form method="post">
                        <div class="form-group">
                            <input asp-for="Name" placeholder="Name" class="form-control" style="border-radius: 50px;" />
                            <span asp-validation-for="Name" style="color:#22B7AD" ></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" placeholder="Email (optional)" class="form-control" style="border-radius: 50px;" />
                          <span asp-validation-for="Email" style="color:#22B7AD" ></span>
                        </div>

                         <div class="form-group">
                            <input asp-for="Phone" placeholder="Phone" class="form-control" style="border-radius: 50px;" />
                            <span asp-validation-for="Phone" style="color:#22B7AD" ></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Subject" placeholder="Subject" class="form-control" style="border-radius: 50px;" />
                            <span asp-validation-for="Subject" style="color:#22B7AD" ></span>
                        </div>
                        <div class="form-group">
                            <textarea rows="5" cols="15" 
                            asp-for="Message" placeholder="Message" class="form-control" style="border-radius: 25px;"></textarea>
                           <span asp-validation-for="Message" style="color:#22B7AD" ></span>
                        </div>
                        <div>
                            <button type="submit" 
                            class="btn">Send</button>
                        </div>

                    </form>
                </div>
            }
        </div>


        <div>
            <div>
                @if (ViewBag.Message != null)
                {
                    <div style="margin-top:7%">@ViewBag.Message</div>
                }
            </div>
        </div>
    </div>

</div>


<!--map-->
<div class="map-container" >
<div class="mapouter" style="margin-top:40px; margin-left:80px;">
    <div class="gmap_canvas">
        <iframe width="100%"  height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=%2055%20Old%20Main%20Road%20%20Gillitts%203610%20Durban%20South%20Africa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0">
        </iframe>
        <a href="https://www.online-timer.net"></a>
        <br>
     <style>.mapouter{text-align:right;height:500px;width:95%;}</style>
     <a href="https://www.embedgooglemap.net"></a>
     <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:95%;}</style>
     
     </div>
</div>

</div>

<!--company details-->
<div class="company-details" >

    <div style="float:left; margin-left:60px;">
        <img src="~/css/Images/location.png" style="width:2em;" /> 
        <br/>
        <br/>
        <br/>
        <img src="~/css/Images/phone.png" style="width:2em;" /> 
        <br/>
        <br/>
        <img src="~/css/Images/mailicon.png" style="width:2em;" /> 

    </div>

    <div style="float:left; margin-left:10px">
       <p style=" margin-bottom:-6px;">Office 2, 55 Old Main Road</p>
       <p style=" margin-bottom:-6px;">Gillitts 3610 Durban</p>
       <p>South Africa</p>
       <p style="margin-top:23px; margin-bottom:-6px;">+27 72 342 8252</p>
       <br/>
       <p style="margin-top:14px; margin-bottom:-6px;">playwrite@email.com</p>
    </div>
    <div style="clear:both;"></div>
 
</div>

<div style="clear:both; margin-bottom:-9em;"></div>


<style>
     *{
  margin:0;
  padding:0;
}

.wrapper{
  width:100%;
}

    .heading{

        width:100%; 
        margin-top:5em; 
    }

    .heading h1{
        font-family:HelveticaNeue-Light;
        color:#0F3A61;
    }

    .heading p{
        font-family:HelveticaNeue-Light;
        color:#0F3A61; 
        margin-bottom:-10px;
    }

    .mail-form{
        align-items: center;
        width:100%; 
        margin-top:2em;
        justify-content: center;
        align-content: center;
    }

    .map-container{
       display: none;
        
    }

    .company-details{
        padding-top:5em;
        margin-left: 5em;
    }

    .company-details p{
        font-family:HelveticaNeue-Light;
        color:#0F3A61;
    }


  .btn {
  background-color: #22B7AD;
  border: none;
  color: #0F3A61;
  padding: 10px;
  font-size: 15px;
  border-radius: 50px;
  margin-left: 10px;
  width: 90%;
}




@@media only screen and (min-width:768px)
{
    .mail-form{
        margin-left:25%;
    }

    .company-details{
        padding-top:5em;
        margin-left: 30%;
    }

  
}


@@media only screen and (min-width:1000px)
{

    .heading{

        width:50%; 
        float:left;
        margin-top:10%; 
        padding-left:175px;
    }

    .mail-form{
        width:50%; 
        margin-top:7%;
        float: right;
        margin-left:0%;
        padding-left:20px;
        
    }

     .map-container{
        width:45%; 
        float:left;
        display: block;
        margin-top:2em;
        margin-left:7em;

    }

    .company-details{
        width:30%; 
        float:left;
        padding-top:10em;
        margin-left: 0em;
        position:relative;
    }



  
}




</style>


