
@{
    ViewData["Title"] = "Home Page";
   
}
 
<body>

<!--banner image-->
<img class="img-banner" src="~/css/Images/bg1.png" />

<div style="margin-top: 3em;"></div>


<h2 ><b>Playwrite Occupational Therapy</b></h2>
<p class="paragraph">Playwrite Occupational Therapy holds each child and their family at the centre of everything the 
  therapists do.  Therapists use a child-centred, play-based approach to help each child reach their 
  full potential.  Ayres’ Sensory Integration and DIR Floortime® are the two main therapy modalities 
  used within the practice.  Programmes such as Tomatis® TalksUp® and ReadLS™ supplement the 
  occupational therapy support that our clients receive.</p>

<p style="margin-bottom: 4%;"  class="paragraph">Our team values parents and teacher education and often run courses aimed at
   helping the adults involved in children’s lives better understand them and their behaviour.  
   Please contact us should you wish to receive more information on the talks we run in the future.</p>



<hr/>

  <h2 ><b>Our Team</b></h2>

<!--about us details-->
<div class="wrapper"  style="margin-top: 15px;">
  <article class="team-info" >
     <h1><b>Amy van Schoor </b></h1>
    <p>Amy is the practice owner of Playwrite Occupational Therapy.  
      She has a passion for working with children and their families to 
      help them achieve their full potential.  Amy finds joy in the playful 
      interactions she experiences with every child that steps into the 
      therapy room.  Amy is Ayres’ Sensory Integration trained and is an 
      advanced DIR Floortime® practitioner.  She uses the Tomatis® TalksUp® 
      programme and is a ReadLS practitioner. 
</p>

  </article>

  <img class="img-team" src="~/css/Images/Amy1.png" />

</div>

<div  style="clear: both;"></div>


<div style="margin-top:30px">
  <div class="stack team1">
    <center>
      <img  class="img-stack" src="~/css/Images/Nicky1.png" />
      </center>
      <h1>
        <b>Nicky van Ravenswaay </b>
      </h1>
  </div>

<div class="stack team2">
    <center>
      <img  class="img-stack" src="~/css/Images/Lara1.png" />
      </center>
      <h1>
         <b>Lara Mather</b>
      </h1>
</div>

<div class="stack team3">
    <center>
      <img  class="img-stack" src="~/css/Images/Taryn1.png" />
      </center>
      <h1>
        <b>Taryn Armour</b>
      </h1>
</div>


</div>

<div  style="clear: both;"></div>




<!--header for the services offered-->
<div class="service-header"  >
     <p>SERVICES</p>
     <h1><b>Treatment Sessions</b></h1>
     <h1><b>and Workshops</b></h1>
</div>


<!--services blocks-->
<div class="wrapper">
 <div class="service-blue service-green-1" style="margin-top:1em"> 
      <center>
             <img src="~/css/Images/schedule.png"  style="padding-top:10%; width:25%; height:auto;"/>
               <h1><b>Individual Occupational</b></h1>
                <h1><b>Therapy Sessions</b></h1>
                <p>Individual occupational therapy sessions take place within our spacious and well-equipped therapy room. Therapists within the practice are Ayres' Sensory Integration and DIR Floortime trained.</p>
      </center>
      
 </div>
</div>

<div class="wrapper"> 
  <div class="service-green service-blue-1" style="margin-top:1em">
       <center>
             <img src="~/css/Images/workshop.png"  style="padding-top:10%; width:25%; height:auto;"/>
               <h1><b>Information Workshops</b></h1>
               <h1><b>1 hour 30 minutes</b></h1>
               <p>Topic-specific workshops aimed at informing teachers and parents.</p>
      </center>
    </div>
  </div>


<div class="wrapper">
 <div class="service-blue service-blue-2" style="margin-top:1em"> 
      <center>
             <img src="~/css/Images/schedule.png"  style="padding-top:10%; width:25%; height:auto;"/>
               <h1><b>Tomatis TalksUp</b></h1>
                <h1><b>Duration varies</b></h1>
                <p>Individualised Tomatis-based intervention which can either be carried out within the practice under supervision, or at home for clients who have busy schedules or live away from the practice.</p>
      </center>
 </div>
</div>

<div class="wrapper"> 
  <div class="service-green service-green-2" style="margin-top:1em">
       <center>
             <img src="~/css/Images/workshop.png"  style="padding-top:10%; width:25%; height:auto;"/>
               <h1><b>SIPT Assessments</b></h1>
               <h1><b>Duration varies</b></h1>
               <p>Sensory Integration and Praxis Tests carried out with children aged four to eight years old. This is the gold-standard assessment for sensory integration assessment.</p>
      </center>
    </div>
  </div>

<div style="clear: both;"></div>

<center>
  <div class="wrapper"> 
  <div class="service-green " style="margin-top:1em; height:30em;">
       <center>
             <img src="~/css/Images/workshop.png"  style="padding-top:10%; width:25%; height:auto;"/>
               <h1><b>Muscle Mania®</b></h1>
               <p>Muscle Mania® was developed by Bunty McDougall, an occupational therapist who has a 
                 special interest in fine motor skill development, pre-handwriting, and handwriting skills. 
                  Therapists from the practice run these groups at Little Heroes Preschool for their Grade 
                  00 groups and at Waterfall Preparatory School for their Grade R classes.</p>

                  <p>Should you wish to enquire about us running these groups at your school, please get in touch.</p>
      </center>
    </div>
  </div>
</center>

</body>



<!--styling-->

<style>

  *{
  margin:0;
  padding:0;
}

.wrapper{
  width:100%;
}


.img-info{
  width: 100%
  
}

.team-info{
  width:100%;
}

.img-info h1{
  padding: 0px 30px 0px 20px;
  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  line-height: 27px;
}

.team-info h1{
padding: 0px 30px 0px 20px;
  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  line-height: 27px;
  

}

.img-info p{
  padding: 0px 30px 0px 20px;
  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  line-height: 24px;
}

.team-info p{
  padding: 0px 30px 0px 20px;
  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  line-height: 24px;
}

.img-ph{
  width:100%;
}

.img-banner{
  display:none;
}

.img-team{
  width:100%;
}


h2{

  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  line-height: 44px;
  text-align: center;
  margin-top: 5%;
  font-size: 44px;

}

.paragraph{
  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  font-size: 18px;
  padding-right: 10%;
  padding-left:10%;
  text-align: center;
}

.stack{
  justify-content: center;
  width:100%; 
  margin-top:25px;
}

.stack h1{
  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  font-size: 18px;
  text-align: center;
  margin-top:10px;
}

.service-header{
  margin-top:5%;
  height:100px; 
  background-color:#94DBDE;
  margin-bottom:40px;
  padding-top: 1.5em;
  text-align: center;
}

.img-stack{
  width: 75%;
}

.service-header p{
  font-family:HelveticaNeue-Light;
  color:#0F3A61; 
  font-size: 10px;
  letter-spacing:5px;
  margin-bottom: -1px;
}

.service-header h1{
  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  font-size:15px;
}


.service-blue{
  width:100%; 
  height:25em; 
  background-color:#CEECFB;
  text-align: center;
}

.service-blue h1{
  font-family:HelveticaNeue-Light;
  color:#0F3A61; 
  font-size: 19px; 
}

.service-blue p{
  font-family:HelveticaNeue-Light;
  color:#0F3A61; 
  font-size: 15px; 
  margin-left:1em;
  margin-right:1em;
  margin-top:1em;
}

.service-green{
  width:100%; 
  height:25em; 
  background-color:#A8E7E3;
  text-align: center;
}

.service-green h1{
  font-family:HelveticaNeue-Light;
  color:#0F3A61; 
  font-size: 19px; 
}

.service-green p{
  font-family:HelveticaNeue-Light;
  color:#0F3A61; 
  font-size: 15px; 
  margin-left:1em;
  margin-right:1em;
  margin-top:1em;
}



@@media only screen and (min-width:768px)
{
  .wrapper{
  width:600px;
  margin: 0 auto;
}

.img-banner{
  display:block;
  width:100%;
  padding-bottom: 30px;
}

.img-info h1{
  padding: 0px 0px 0px;
}

.img-info p{
  padding: 0px 0px 0px;
}

.img-ph{
  padding-top:30px;
}

.service-header{
  margin-top:5%;
  height:200px; 
  background-color:#94DBDE;
  margin-bottom:60px;
  padding-top: 2em;
}

.service-header p{
font-family:HelveticaNeue-Light;
color:#0F3A61; 
font-size: 20px;
letter-spacing:5px;
margin-bottom: 0px;
}

.service-header h1{
  font-family:HelveticaNeue-Light;
  color:#0F3A61;
  font-size:35px;
}

.service-blue p{
  font-size: 20px; 
  
}

}

@@media only screen and (min-width:1000px)
{
  .wrapper{
  width:95%;
}

.img-info{
  width:50%;
  float:right;
}

.team-info{
  width:50%;
  float:right;
}

.img-info h1{
  padding: 0px 0px -15px 20px;
  width:30%;
  margin-top: 15px;

}

.team-info h1{
  padding: 0px 0px 0px 0px;
  width:50%;
  font-size: 35px;

}

.team-info p{
  width:50%;
  padding: 10px 0px 0px 0px;
   font-size: 15px;
 
}

.img-info p{
  width:35%;
  padding: 0px 0px 0px 0px;
 
}

.img-ph{
  padding-top:0px;
  width:30%;
  float:right;
  margin-right:5em;
}

.team-ph{
  padding-top:0px;
  width:30%;
  float:right;
  margin-right:5em;
}

.img-team{
  padding-top:0px;
  width:22%;
  float:right;
  margin-right:3em;
}

.service-green{
  width:48%; 
  
  height: 30em;
}

.service-green-1{
float:left;
}

.service-green-2{
float:left;
}


.service-blue{
  width:48%; 
  height: 30em;
}


.service-blue-1{
float:right;
}

.service-blue-2{
float:right;
}

.service-blue h1{
  font-size: 23px; 
}

.service-blue p{
  font-size: 19px; 
  margin-left:2em;
  margin-right:2em;
  
}

.service-green h1{
  font-size: 23px; 
}

.service-green p{
  font-size: 19px; 
  margin-left:2em;
  margin-right:2em;
  
}

.stack
{
  width:33.3%;
}
.img-stack{
  width: 50%;
}

.team1{
  float:left;

}
.team2{
  float:right;
  
}
.team3{
  float:right;
  
}

}


</style>